[Unit]
Description=The Eucalyptus Cluster Controller service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/run/eucalyptus/eucalyptus-cc.pid
# EnvironmentFile=/etc/sysconfig/eucalyptus
ExecStart=/usr/libexec/eucalyptus/eucalyptus-cc.init start
ExecStop=/usr/libexec/eucalyptus/eucalyptus-cc.init stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
